@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #00AFEF;
$colorGreen: #0f6567;


$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin family {
    font-family: 'Source Sans Pro', "Arial Narrow", Arial, Helvetica, sans-serif;

}

@mixin family_Philosopher {
    font-family: "Philosopher", "Arial Narrow", Arial, Helvetica, sans-serif;
}

@mixin Inter {
    font-family: 'Inter Variable', sans-serif;
}

@mixin Roboto {
    font-family: 'Roboto Flex Variable', sans-serif;
}

@media screen and (max-width: 1324px) {

    .teaser_4 {
        .t_item_4__img {

            width: 100%;
            height: auto;
            min-width: 1px;


            img {
                width: 100% !important;
                height: auto !important;

            }
        }
    }
}

@media screen and (max-width: 1268px) {
    .block {

        padding-right: 15px;
        padding-left: 15px;
    }

    .r_filter {
        select {
            width: 100%;
            border: 1px solid #dddddd;
            position: relative;
            height: 40px;
        }
    }

    .ob_main_new_cat {
        .ob_category_teaser {
            justify-content: center;

            .slick_slide {
                width: 270px;
            }
        }
    }

}

@media screen and (max-width: 1168px) {

    .f_icon__region {

        background-size: 14px;

    }

    .desc_main__imgR {
        padding-left: 20px;
        padding-right: 20px;

        img {
            width: 100%;
            height: auto !important;
        }

    }


    .top_logo {
        .logo__text {
            @include adaptiv-font(29, 20);

        }
    }

    .religion_select__axeld .s_active, .font_30 {

        @include adaptiv-font(29, 20);
        min-height: 36px;

    }
    .big_search__box {

        input[type=text]::placeholder {

            @include adaptiv-font(29, 20);
        }
    }
    .religion_select__axeld .s_box .s_box__rel {

        @include adaptiv-font(29, 20);
    }

    .f_region.active .font_30,
    .f_region:hover .font_30 {
        @include adaptiv-font(29, 20);
    }


    .h_b_right__text {
        @include adaptiv-font(23, 20);

    }

    .faq_h3 {
        @include adaptiv-font(23, 20);

    }

    .teaser_4 .t_item_4__title a {
        @include adaptiv-font(19, 17);
    }
    .top_menu > li > a {
        padding: 0 15px;
        @include adaptiv-font(16, 12);
    }

    .sections__flex {
        .sect .h1 {

            @include adaptiv-font(29, 20);
        }
    }


    ._h1.color_green {
        @include adaptiv-font(29, 20);

    }
    .ob_title h1 {
        @include adaptiv-font(29, 20);

    }


    .box_title_flex ._h2 {
        @include adaptiv-font(29, 20);

    }
    .slick_slider__carusel .s_title {
        @include adaptiv-font(20, 19);

    }
    .box_title_block ._h2 {
        @include adaptiv-font(29, 19);

    }
    .box_title_block ._h2sub {
        @include adaptiv-font(20, 18);

    }

    .page_r {
        .page_r__left {

            a {
                img { width: 100%; height: auto !important;}
            }
        }
        .page_r__right {

        }
    }

}


@media screen and (max-width: 968px) {

    .footer__copy {
        padding: 26px 0;
        display: block;

        .__copy {
            width: 100%;
            padding: 0 0 15px 0;
        }

        .__contacts {
            width: 100%;
            padding: 0 0 0 0;

            .color_acacac {
                padding-left: 0;
            }

        }
    }

    .ob_gamburger {
        display: block;
        width: 100%;
        background: #f0f1f3;
        position: relative;
        padding-left: 30px;
        height: 52px;
        overflow: hidden;

        .gamburger {


        }

        .ob_gamburger__menu {
            color: $colorGrey;
            position: relative;
            top: -35px;
            left: 70px;

        }
    }

    .ob_menu_hor__css {
        top: -15px;

        a {
            width: 100%;
            padding: 0 10px 0 45px;
            height: 48px;
            border-bottom: 1px solid #fff;
            display: flex;
            align-items: center;
            background: #fdf9f9;
        }

        a.active {
            color: $colorRed;
            background: #abdfdf;
        }
    }


    .ob_menu_hor__ul {
        display: none;
    }

    .ob_menu_hor__css {
        position: relative;

        a {
            font-size: 15px;
            width: 100%;
            display: flex;
            align-items: center;
            color: $color;
            text-decoration: none;
        }

    }


}

@media screen and (max-width: 921px) {
    .ob_main_pageHtml {
        padding: 14px 0 40px 0;
    }

    .top_menu > li > a {
        padding: 0 8px;
    }

    .sections__flex .sect .sect__img {
        padding: 0 18px 0 0;
    }
    .sect_hristianstvo {

        .sect__background-image {
            width: 30px !important;
            height: 50px !important;
            background-size: 100%;
        }
    }

    .sect_islam {

        .sect__background-image {
            width: 40px !important;
            height: 50px !important;
            background-size: 100%;

        }
    }

    .sect_buddizm {

        .sect__background-image {
            width: 45px !important;
            height: 50px !important;
            background-size: 100%;

        }

    }

    .sect_iudaizm {

        .sect__background-image {
            width: 40px !important;
            height: 50px !important;
            background-size: 100%;

        }
    }
    .h_b_right__text {
        padding-right: 15px;
        padding-left: 15px;
    }
    .top_logo .logo__text {

        padding: 0 50px 0 40px;

    }

    .h_row.block {
        display: block;

        .h_col__faq {
            width: 100%;
            padding: 0;
        }

        .h_col__responce {
            width: 100%;
            padding: 0;
        }

    }


}

@media screen and (max-width: 868px) {

    .ob_controls embed,  .ob_controls video {
        max-width: 100%;
        width: 100% !important;
        margin: 0 auto !important;
    }

    .ob_video {
        video {
            width: 100% !important;
            height: auto !important;
        }
    }
    .chosen_area__wrap.active {
        padding: 0 15px;
        position: relative;
    }


    .chosen_area__wrap .chosen_area__paralelogramm {
        /*        max-width: 400px;
                width: 96%;
                min-height: 73px;
                position: absolute;
                left: 0;
                top: 26px;*/

    }


    .calendal_events {
        padding: 0 30px 0 0;
    }
    .h_t_right {

        padding: 0 16px 0 36px;
    }
    .h_t_right {
        font-size: 15px;
    }
    .box_title_flex ._h2__more a {
        color: #667085;
        font-size: 14px;
    }

    .footer__flex {
        .footer__left {
            width: 25%;

        }

        .footer__right {
            width: 75%;
        }
    }
}

/* pocofon  x3 */
@media (max-width: 793px) {


    .ob_main_page ,.page_page {
        .page_l {
            .page_l__left {
                width: 60%;
            }

            .page_l__right {
                width: 40%;
            }
        }

    }

    .page_r {
        .page_r__left {
            width: 40%;

        }
        .page_r__right {
            width: 60%;
        }
    }



    .page_l__revers.page_l {
        .page_l__right {
            padding-right: 0;
            padding-left: 0;
        }
    }


    .big_search__box {
        padding-top: 10px;
    }
    .religion_select__axeld {
        .reverse:after {
            transform: rotate(180deg);
            top: 3px;
        }

        .s_active:after {

            width: 16px;
            height: 16px;

        }
    }

    .r_filter__flex_nopadding {
        padding-left: 30px !important;

    }

    .r_filter__flex {
        padding: 30px 0 13px 30px;
        display: block;

        .r_filter__left {
            width: 100%;
            padding: 10px 15px 10px 0;
        }

        .r_filter__right {
            width: 100%;
            padding: 10px 15px 10px 0;

            .f_region__flex {
                padding-left: 0;
            }

        }

        .chosen_area__wrap.active {
            visibility: visible;
            opacity: 1;
            transform: translate(0);
            z-index: 100;
        }

    }

    .chosen_area__wrap {
        width: 100%;

        .chosen_area__paralelogramm {

            width: 100%;
            min-height: 73px;
            position: absolute;
            left: 0;
            top: 26px;
            background: #fff;
            border: 1px solid #ddd;
        }

        .chosen_area_sel__wrap {
            position: relative;
            left: 0;
            top: 41px;
            padding: 0;
            width: 100%;
        }
    }


    .r_filter__b {
        display: none !important;
    }

    .sections__flex {
        flex-wrap: wrap;
        height: auto;

        .sect_hristianstvo {

            width: 50% !important;
            min-width: 50% !important;

            .sect__background-image {
                width: 30px !important;
                height: 50px !important;
                background-size: 100%;
            }
        }

        .sect_islam {

            width: 50% !important;
            min-width: 50% !important;

            .sect__background-image {
                width: 40px !important;
                height: 50px !important;
                background-size: 100%;

            }
        }

        .sect_buddizm {

            width: 50% !important;
            min-width: 50% !important;

            .sect__background-image {
                width: 45px !important;
                height: 50px !important;
                background-size: 100%;

            }

        }

        .sect_iudaizm {

            width: 50% !important;
            min-width: 50% !important;

            .sect__background-image {
                width: 40px !important;
                height: 50px !important;
                background-size: 100%;

            }


        }

        .sect .sect__img {
            padding: 0 45px 0 0;
        }
    }

    /* Переход на мобильную версию */


    /* Переход на мобильную версию */


}

/* pocofon  x3 */

/* xiaomi pro6 */
@media (max-width: 742px) {

    .ob_main_contact__flex {
        padding-bottom: 26px;
    }
    .teaser_4 {

        .teaser_4__item {
            width: 50%;

            .t_item_4__img {

                width: 100%;
                height: auto;
                min-width: 1px;


                img {
                    width: 100% !important;
                    height: auto !important;

                }
            }
        }
    }
    .h_b_right__text {
        display: none !important;
    }
    .calendal_events {
        padding: 0 10px 0 0;
    }
}

/* xiaomi pro6 */

@media (max-width: 666px) {


    .page_r {
        display: block !important;
        .page_r__left {
            width: 100%;

        }
        .page_r__right {
            width: 100%;
            padding-top: 26px;
        }
    }

    .sections__flex {
        flex-wrap: wrap;
        height: auto;
        padding-left: 30px;

        .sect_hristianstvo {

            width: 100% !important;
            min-width: 100% !important;
            padding-bottom: 16px;

            .sect__background-image {
                width: 35px !important;
                height: 50px !important;
                background-size: 100%;
            }
        }

        .sect_islam {

            width: 100% !important;
            min-width: 100% !important;
            padding-bottom: 16px;

            .sect__background-image {
                width: 40px !important;
                height: 50px !important;
                background-size: 100%;

            }
        }

        .sect_buddizm {

            width: 100% !important;
            min-width: 100% !important;
            padding-bottom: 16px;

            .sect__background-image {
                width: 40px !important;
                height: 50px !important;
                background-size: 100%;

            }

        }

        .sect_iudaizm {

            width: 100% !important;
            min-width: 100% !important;

            .sect__background-image {
                width: 40px !important;
                height: 50px !important;
                background-size: 100%;

            }


        }

        .sect .sect__img {
            padding: 0 45px 0 0;
        }
    }

    .calendal_events {
        display: none !important;

    }
    .h_t_center {
        max-width: 590px;
        width: 50%;
    }
    .h_t_right {
        width: 40%;
        justify-content: flex-end;
        padding-right: 0;

    }
}

@media (max-width: 568px) {

    .ob_main_contact__flex {
        padding-top: 10px;
        display: block;

        .ob_main_contact__left {
            width: 100%;
            padding: 5px 0;

        }

        .ob_main_contact__right {
            width: 100%;
            padding: 5px 0;
        }
    }

    .teaser_4 {

        .teaser_4__item {
            width: 100%;
            display: flex;

            .t_item_4__img {

                width: 30%;
                height: auto;
                min-width: 1px;


                img {
                    width: 100% !important;
                    height: auto !important;

                }
            }

            .t_item_4__title {
                width: 70%;
                padding: 10px;
            }


        }
    }
    .footer__flex .footer__right p {
        font-size: 12px;
    }

    .h_t_right {
        display: none !important;
    }
    .h_t_center {
        max-width: 568px;
        width: 100%;
    }
}

@media (max-width: 468px) {


    .ob_main_page, .ob_main_new ,.page_page {
        .page_l {
            flex-direction: column-reverse;

            .page_l__left {
                width: 100%;
                padding: 20px 0 0 0;
            }

            .page_l__right {
                width: 100%;

            }
        }

    }


    .teaser_mini_img .tmg__titleText a {
        font-size: 16px;
        padding: 0 0 10px 0;
    }
    .__contacts {
        span {
            display: block;
            padding: 6px 0;

            .sle {
                display: none;
            }
        }
    }
}

@media (max-width: 416px) {
    .teaser_4 .t_item_4__title a {
        font-size: 14px;
    }
    .r_filter__flex {
        padding: 20px 0 13px 15px;
        display: block;
    }
    .r_filter__flex_nopadding {
        padding-left: 15px !important;
    }

}
